@use './styles/index';
@import 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap';

:root {
  --body-inline-space: 1.5rem
}

body {
  all: unset;
  display: block;
  min-height: 100dvh;
  background-color: white;
  font-family: Lato, serif;
  color: var(--text-color);
}

